*.o
*.d
*.crf
*.TMP
*.bak
*.html
/Listings/
/.vscode/
/DebugConfig/
/canBootloaderPrj/
!/canBootloaderPrj/rename.uvprojx
!/canBootloaderPrj/JLinkSettings.ini
!/canBootloaderPrj/USER
!/canBootloaderPrj/*.py

/User/CConsole.*
/recalling.txt
/canDaata.txt

/uartBootloaderPrj/
!/uartBootloaderPrj/rename.uvprojx
!/uartBootloaderPrj/JLinkSettings.ini

/prj/
/out
